<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Image</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<!--header-->

	<div class="header">

			<div class="header-top">
				<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="search">
					<form>
						<input type="text" value=" Search Image" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" >
						<input type="submit"  value="">
					</form>
				</div>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="container">
				<div class="top-nav">

					<ul class="nav nav-pills nav-justified">
						<li><a href="index.html" > Home </a></li>
						<li class="active"><a href="forget.html" > Forget </a></li>
						<li><a href="love.html" >Love</a></li>
						<li><a href="happyending.html" >Happy Ending</a></li>
					<div class="clearfix"></div>
					</ul>
					<script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
					</script>
				</div>

		</div>
			<div class="container">
	<!--//header-->
	 <div class="banner">
            <div class="slider">
                  <section class="slider">
                      <div class="flexslider">
                      <ul class="slides">
                          <li>
                              <div id="id01" class="col-md-8 banner-left">
                                  <img  class="img-responsive" src="https://farm8.staticflickr.com/7226/26904724294_82af7699ea_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id02" class="col-md-8 banner-left">
                                  <img class="img-responsive" src="https://farm8.staticflickr.com/7412/27237510440_2a4b3be949_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id03" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7599/26905941773_8716a69e54_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id04" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7363/27441584241_beffb7a7da_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id05" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7177/26905940943_1a33cf82f0_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id06" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7408/27479485866_74a45ea820_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id07" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7395/27441583601_5285cbf543_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id08" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7331/27479485166_e9c4171718_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id09" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7012/27415001342_962beba31c_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id10" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7455/27237506970_1943d70720_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id11" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7064/26905939193_d199211c47_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id12" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7352/27414999822_c8a6e85255_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id13" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7503/27237506110_024bbdb932_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id14" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7441/27414998792_6aedada62d_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id15" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7426/27237505280_011f8da18c_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id16" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7341/27237504860_e72a88a118_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id17" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7263/27513775865_931d5ee3f2_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id18" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7010/27414996732_4b0a66fc37_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id19" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7342/26904712274_5267775ae3_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id20" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7354/27441581501_6975da1fa2_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id21" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7338/26904710484_3d6dae6d80_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li><li>
                              <div id="id22" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7564/26904710424_196647aa70_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id23" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7040/27414991302_1ffd0f0418_c.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li><li>
                              <div id="id24" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7318/27513773405_f38f021399_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id25" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7527/26904709164_b62a5bc7e9_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>
                          <li>
                              <div id="id26" class="col-md-8 banner-left">
                                <img class="img-responsive" src="https://farm8.staticflickr.com/7664/27441580041_306caadf8f_h.jpg" alt="">
                              </div>
                              <div class="clearfix"></div>
                          </li>


          </ul>
        </div>
                      <a href="https://www.flickr.com/cameraroll"><h1 style="color : Green">Xem Tất Cả</h1></a>
      </section>
			  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
			  <!--FlexSlider-->
			  <script defer src="js/jquery.flexslider.js"></script>
			  <script type="text/javascript">
			    $(function(){
			      SyntaxHighlighter.all();
			    });
			    $(window).load(function(){
			      $('.flexslider').flexslider({
			        animation: "slide",
			        start: function(slider){
			          $('body').removeClass('loading');
			        }
			      });
			    });
			  </script>
			</div>
		</div>
	</div>
</div>
<!--content-->
<div class="about-grid">
	<div class="container">
		<div class="col-md-3 about-grid1">
			<span>20-05-2015</span>
			<b></b>
			<span>Love</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>21-11-2015</span>
			<b></b>
			<span>Wedding</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>22-11-1990</span>
			<b></b>
			<span>Tu's Birthday</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>14-07-1991</span>
			<b></b>
			<span>Phuong's Birthday</span>
		</div>
		<div class="clearfix"> </div>
 </div>
 </div>
 </div>
 <!--footer-->
 <div class="footer">
				<div class="container">
				<div class="col-md-4 amet-sed ">
				<h4>CONTACT US</h4>

					<p>Couple</p>
					<p>Tel : 0985122831 / 0983636810</p>

				</div>
				<div class="col-md-4 amet-sed">
					<h4>Follow Us</h4>
					<ul class="social">
						<li><a href="www.facebook.com"><i class="facebook"> </i></a></li>
						<li><a href="https://plus.google.com/"><i class="google"> </i></a></li>
						<li><a href="https://dribbble.com/"><i class="dribbble"> </i></a></li>
						<li><a href="https://twitter.com"><i class="twitter"> </i></a></li>

					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class">
		<p>© 2016 Marry All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">hyplee147</a> </p>
		</div>
		</div>
</body>
</html>