<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Marry A Wedding Tú <3 Phương</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<!--header-->

	<div class="header">
	
			<div class="header-top">
				<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="search">
					<form>
						<input type="text" value=" Search Image" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" >
						<input type="submit"  value="">
					</form>
				</div>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="container">
				<div class="top-nav">
				
					<ul class="nav nav-pills nav-justified">
						<li class="active"><a href="index.html" > Home </a></li>
						<li><a href="forget.html" > Forget </a></li>
						<li><a href="love.html" >Love</a></li>
						<li><a href="happyending.html" >Happy Ending</a></li>
					<div class="clearfix"></div>
					</ul>
					<script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
					</script>
				</div>			
		
		</div>
			<div class="container">
	<!--//header-->
	 <div class="banner">
            <div class="slider">
                  <section class="slider">
                      <div class="flexslider">
                      <ul class="slides">
                      <li>
                      	<div class="col-md-8 banner-left">
                      	<img  class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/11717436_1080277191984125_7851917651113649488_o.jpg" alt="">
                      	</div>
                      	<div class="col-md-4 banner-right">
    	                <h3>I’d give up my life if I could command one smille of your eyes, one touch of your hand </h3>
                        <p>I love you so much</p>
                       </div>
                       <div class="clearfix"></div>
  	    		</li>
 	    		<li>
                      	<div class="col-md-8 banner-left">
                      	<img class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/13000210_257212157956643_4002749610446023973_n.jpg?oh=f4a1c0bc228c1c38e7d25b0cf85b141f&oe=57C69352" alt="">
                      	</div>
                      	<div class="col-md-4 banner-right">
    	                <h3>I’d give up my life if I could command one smille of your eyes, one touch of your hand </h3>
                        <p>I love you so much</p>
                       </div>
                       <div class="clearfix"></div>
  	    		</li>
  	    		<li>
                      	<div class="col-md-8 banner-left">
                      	<img class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/12471841_203537353324124_8533622253784784676_o.jpg" alt="">
                      	</div>
                      	<div class="col-md-4 banner-right">
    	                <h3>I’d give up my life if I could command one smille of your eyes, one touch of your hand </h3>
                        <p>I love you so much</p>
                       </div>
                       <div class="clearfix"></div>
  	    		</li>
          </ul>
        </div>
      </section>
			  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
			  <!--FlexSlider-->
			  <script defer src="js/jquery.flexslider.js"></script>
			  <script type="text/javascript">
			    $(function(){
			      SyntaxHighlighter.all();
			    });
			    $(window).load(function(){
			      $('.flexslider').flexslider({
			        animation: "slide",
			        start: function(slider){
			          $('body').removeClass('loading');
			        }
			      });
			    });
			  </script>
			</div>
		</div>
	</div>
</div>
<!--content-->
<div class="content">
	<div class="content-top-at">
	<div class="container">
		<div class="content-top">
			<h1>Welcome</h1>
			</div>
		<div class="about-us">
			<div class="w3-container w3-half">
				<img class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12801645_235763820101477_4765951077588107792_n.jpg?oh=599149f2c2709ef5c0953edbb0eed421&oe=5808F4AB" alt="">
			</div>
			<div class="w3-container w3-half">
				<img class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12289750_1096083270403517_6897374405456095844_n.jpg?oh=4ab4caa7337fb282c8754815b47ca9ed&oe=57CA6BBB" alt="">
			</div>
			 <div class="clearfix"></div>
		</div>
		
		
	</div>
</div>

<div class="about-grid">
	<div class="container">
		<div class="col-md-3 about-grid1">
			<span>20-05-2015</span>
			<b></b>
			<span>Love</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>21-11-2015</span>
			<b></b>
			<span>Wedding</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>22-11-1990</span>
			<b></b>
			<span>Tu's Birthday</span>
		</div>
		<div class="col-md-3 about-grid1">
			<span>14-07-1991</span>
			<b></b>
			<span>Phuong's Birthday</span>
		</div>
		<div class="clearfix"> </div>
 </div>
 </div>
 </div>
 <!--footer-->
 <div class="footer">
				<div class="container">
			<div class="footer-top-at">
			
				<div class="col-md-4 amet-sed">
				<h4>MORE INFO</h4>
				<ul class="nav-bottom">
						<li><a href="https://www.facebook.com/profile.php?id=100010035819209&fref=ts">Lê Thu Phương</a></li>
						<li><a href="https://www.facebook.com/tranthanhtu">Trần Thanh Tú</a></li>
					</ul>	
				</div>
				<div class="col-md-4 amet-sed ">
				<h4>CONTACT US</h4>
				
					<p>Couple</p>
					<p>Tel : 0985122831 / 0983636810</p>
					
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Follow Us</h4>
					<ul class="social">
						<li><a href="www.facebook.com"><i> </i></a></li>
						<li><a href="https://plus.google.com/"><i class="google"> </i></a></li>
						<li><a href="https://dribbble.com/"><i class="dribbble"> </i></a></li>
						<li><a href="https://twitter.com"><i class="twitter"> </i></a></li>
						
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class">
		<p>© 2016 Marry All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">hyplee147</a> </p>
		</div>
		</div>
</body>
</html>